// Headlines and search input

.hero {
  min-height: 500px;

  &__section-arrow {

    @keyframes bouncing {
      0% {
        bottom: 90px;
      }
      50% {
        bottom: 110px;
      }
      100% {
        bottom: 90px;
      }
    }
    color: #ffffff;
    position: relative;
    margin-top: 215px;
    animation: bouncing 2s infinite ease-in-out;
  }

  &__headline {

    font-family: "Proxima Nova Thin";
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 80px;

    span.typed {
      font-family: "Proxima Nova Semibold";
      font-weight: bold;
    }

    .typed-cursor {
      opacity: 1;
      animation: blink .9s infinite;
      font-size: 50px;
      vertical-align: middle;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

  }

}

.hexagonal-background {
  background-image: url('../img/bg.svg'), linear-gradient(-160deg, #3369e7, #843cf7);
  //background-image: url('../img/bg.svg'), linear-gradient(-160deg, #795DFF, #5439D4);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  -moz-transition: -moz-filter 0.5s ease, opacity 1s ease;
  -webkit-transition: -webkit-filter 0.5s ease, opacity 1s ease;
  -ms-transition: -ms-filter 0.5s ease, opacity 1s ease;
  transition: filter 0.5s ease, opacity 1s ease;
}

.blockSearch {
  margin-top: 100px;

  form {
    margin-top: 50px;
  }

  input[type="text"], textarea, input[type="text"]:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ffffff !important;
  }
}

.input-xlg, .input-xlg:focus, .input-xlg:active {
  height: 65px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-green, .btn-green:focus, .btn-green:active {
  background-color: $brand-success !important;
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
  outline: none !important;
  border-radius: 8px;
}

.btn-green:hover {
  background-color: #17c694 !important;
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
}

// Explainer block

.explainer {
  background: linear-gradient(to bottom, white 0%, white 45%, #f2f4f4 100%);
  min-height: 500px;
}

.karousel {
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0 6px 8px 0 rgba(45, 35, 66, 0.15);
  border-radius: 6px;
  top: 105px;

  &__item {
    height: 400px;
  }

  &__card {
    height: 100%;
  }

  &__title {
    margin-bottom: 30px;
  }

  /**
   * Move bootstrap carousel control arrow outside the contents.
   */
  $carouselArrowWidth: 3em;
  .carousel-control {
    width: $carouselArrowWidth;
    .icon-prev, .icon-next, .glyphicon-chevron-left, .glyphicon-chevron-right {
      margin: 0.2em;
    }
    .icon-prev, .glyphicon-chevron-left {
      left: 0;
    }
    .icon-next, .glyphicon-chevron-right {
      right: 0;
    }
  }

  .carousel {
    padding-left: $carouselArrowWidth + 0.5em;
    padding-right: $carouselArrowWidth + 0.5em;
  }

  /**
   * carousel control style
   */
  .carousel-control {
    opacity: 1;
    color: #ccc;
    text-shadow: none;
    &.left, &.right {
      background-image: none;
    }
  }
  .carousel-control:hover,
  .carousel-control:focus {
    color: #999;
  }
  .carousel {
    height: 380px;

  }

  &__logo {
    height: 60px;
  }

  &__logowrapper {
    border: 1px dashed #d9dbdc;
    padding: 2px;
  }
}

/**
The Chome block
**/
div.chrome {
  height: 850px;
  background: #2D2342;
  color: #ffffff;

  &__wrapper {
    margin-top: 250px;
  }

  &__demo {
    width: 36vw;
    height: 425px;
    background-color: purple;
  }
}

/**
The separator block
 **/
.separator {
  position: absolute;
  bottom: -13.25em;
  left: 0;
  width: 100%;
  height: 4.375em;
  overflow: hidden;

  &__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    min-width: 70em;
    width: 100%;
    height: 4.375em;
    max-width: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.btn-animate {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.btn-animate:hover {
  transform: translateY(2px);
}

.footerhome {
  background-color: #ffffff;
  color: #cfcfcf;
  height: 200px;
  line-height: 200px;
}



