// Headlines and search input

.hero {
  min-height: 500px;

  &__section-arrow {

    @keyframes bouncing {
      0% {
        bottom: 90px;
      }
      50% {
        bottom: 110px;
      }
      100% {
        bottom: 90px;
      }
    }
    color: #ffffff;
    position: relative;
    margin-top: 215px;
    animation: bouncing 2s infinite ease-in-out;
  }

  &__headline {

    font-family: "Proxima Nova Thin";
    color: #ffffff;
    text-align: center;

    span.typed {
      font-family: "Proxima Nova Semibold";
      font-weight: bold;
    }

    .typed-cursor {
      opacity: 1;
      animation: blink .9s infinite;
      font-size: 50px;
      vertical-align: middle;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

  }

}

.hexagonal-background {
  background-image: url('../img/bg.svg'), linear-gradient(-160deg, #3369e7, #843cf7);
  //background-image: url('../img/bg.svg'), linear-gradient(-160deg, #795DFF, #5439D4);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  -moz-transition: -moz-filter 0.5s ease, opacity 1s ease;
  -webkit-transition: -webkit-filter 0.5s ease, opacity 1s ease;
  -ms-transition: -ms-filter 0.5s ease, opacity 1s ease;
  transition: filter 0.5s ease, opacity 1s ease;
}

.blockSearch {

  input[type="text"], textarea, input[type="text"]:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ffffff !important;
  }
}

.input-xlg, .input-xlg:focus, .input-xlg:active {
  height: 65px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-green, .btn-green:focus, .btn-green:active {
  background-color: $brand-success !important;
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
  outline: none !important;
  border-radius: 8px;
}

.btn-green:hover {
  background-color: #17c694 !important;
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
}

// Explainer block

.explainer {
  background: linear-gradient(to bottom, white 0%, white 45%, #f2f4f4 100%);
  min-height: 500px;
}

.karousel {
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0 6px 8px 0 rgba(45, 35, 66, 0.15);
  border-radius: 6px;
  top: 105px;

  &__item {
    height: 400px;
  }

  &__card {
    height: 100%;
  }

  &__title {
    margin-bottom: 30px;
  }

  /**
   * Move bootstrap carousel control arrow outside the contents.
   */
  $carouselArrowWidth: 3em;
  .carousel-control {
    width: $carouselArrowWidth;
    .icon-prev, .icon-next, .glyphicon-chevron-left, .glyphicon-chevron-right {
      margin: 0.2em;
    }
    .icon-prev, .glyphicon-chevron-left {
      left: 0;
    }
    .icon-next, .glyphicon-chevron-right {
      right: 0;
    }
  }

  .carousel {
    padding-left: $carouselArrowWidth + 0.5em;
    padding-right: $carouselArrowWidth + 0.5em;
  }

  /**
   * carousel control style
   */
  .carousel-control {
    opacity: 1;
    color: #ccc;
    text-shadow: none;
    &.left, &.right {
      background-image: none;
    }
  }
  .carousel-control:hover,
  .carousel-control:focus {
    color: #999;
  }
  .carousel {
    height: 380px;

  }

  &__logo {
    height: 60px;
    //margin-bottom: 15px;
  }

  &__logowrapper {
    border: 1px dashed #d9dbdc;
    padding: 2px;
  }
}

/**
The Chome block
**/
div.chrome {
  height: 850px;
  background: #2D2342;
  color: #ffffff;

  &__wrapper {
    margin-top: 250px;
  }

  &__demo {
    width: 36vw;
    height: 425px;
  }
}

/**
The separator block
 **/
.separator {
  position: absolute;
  bottom: -0.25em;
  left: 0;
  width: 100%;
  height: 4.375em;
  overflow: hidden;

  &__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    min-width: 70em;
    width: 100%;
    height: 4.375em;
    max-width: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.btn-animate {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.btn-animate:hover {
  transform: translateY(2px);
}

@keyframes a {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
  1.9% {
    transform: matrix(1.039, 0, 0, 1.058, 0, 0)
  }
  2.7% {
    transform: matrix(1.062, 0, 0, 1.096, 0, 0)
  }
  3.8% {
    transform: matrix(1.097, 0, 0, 1.151, 0, 0)
  }
  5.41% {
    transform: matrix(1.147, 0, 0, 1.216, 0, 0)
  }
  5.71% {
    transform: matrix(1.155, 0, 0, 1.224, 0, 0)
  }
  7.51% {
    transform: matrix(1.198, 0, 0, 1.249, 0, 0)
  }
  8.11% {
    transform: matrix(1.208, 0, 0, 1.246, 0, 0)
  }
  9.51% {
    transform: matrix(1.224, 0, 0, 1.224, 0, 0)
  }
  10.71% {
    transform: matrix(1.228, 0, 0, 1.194, 0, 0)
  }
  11.51% {
    transform: matrix(1.227, 0, 0, 1.173, 0, 0)
  }
  13.51% {
    transform: matrix(1.211, 0, 0, 1.128, 0, 0)
  }
  13.71% {
    transform: matrix(1.209, 0, 0, 1.125, 0, 0)
  }
  15.52% {
    transform: matrix(1.187, 0, 0, 1.112, 0, 0)
  }
  16.62% {
    transform: matrix(1.172, 0, 0, 1.116, 0, 0)
  }
  17.52% {
    transform: matrix(1.161, 0, 0, 1.125, 0, 0)
  }
  19.52% {
    transform: matrix(1.143, 0, 0, 1.153, 0, 0)
  }
  19.62% {
    transform: matrix(1.142, 0, 0, 1.155, 0, 0)
  }
  21.52% {
    transform: matrix(1.133, 0, 0, 1.178, 0, 0)
  }
  22.52% {
    transform: matrix(1.132, 0, 0, 1.184, 0, 0)
  }
  23.52% {
    transform: matrix(1.133, 0, 0, 1.186, 0, 0)
  }
  27.53% {
    transform: matrix(1.15, 0, 0, 1.164, 0, 0)
  }
  28.43% {
    transform: matrix(1.155, 0, 0, 1.157, 0, 0)
  }
  31.53% {
    transform: matrix(1.168, 0, 0, 1.146, 0, 0)
  }
  34.33% {
    transform: matrix(1.171, 0, 0, 1.153, 0, 0)
  }
  39.54% {
    transform: matrix(1.163, 0, 0, 1.168, 0, 0)
  }
  46.05% {
    transform: matrix(1.155, 0, 0, 1.157, 0, 0)
  }
  47.55% {
    transform: matrix(1.156, 0, 0, 1.156, 0, 0)
  }
  55.56% {
    transform: matrix(1.162, 0, 0, 1.162, 0, 0)
  }
  57.86% {
    transform: matrix(1.162, 0, 0, 1.161, 0, 0)
  }
  63.56% {
    transform: matrix(1.16, 0, 0, 1.159, 0, 0)
  }
  69.57% {
    transform: matrix(1.159, 0, 0, 1.16, 0, 0)
  }
  71.57% {
    transform: matrix(1.159, 0, 0, 1.161, 0, 0)
  }
  79.58% {
    transform: matrix(1.16, 0, 0, 1.16, 0, 0)
  }
  81.38% {
    transform: matrix(1.16, 0, 0, 1.16, 0, 0)
  }
  87.59% {
    transform: matrix(1.16, 0, 0, 1.16, 0, 0)
  }
  93.19% {
    transform: matrix(1.16, 0, 0, 1.16, 0, 0)
  }
  95.6% {
    transform: matrix(1.16, 0, 0, 1.16, 0, 0)
  }
  to {
    transform: matrix(1.16, 0, 0, 1.16, 0, 0)
  }
}

@keyframes b {
  0% {
    transform: matrix(1.16, 0, 0, 1.16, 0, 0)
  }
  16.53% {
    transform: matrix(1.147, 0, 0, 1.216, 0, 0)
  }
  17.53% {
    transform: matrix(1.155, 0, 0, 1.224, 0, 0)
  }
  to {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
}

.btn--download:hover, .btn--download:focus {
  box-shadow: 0 5px 15px 0 rgba(86, 33, 137, .3);
  color: #fff;
  animation: a 1.2s ease-out both;
  transition: box-shadow .2s ease;
  ouline: 0;
}

btn--download, .btn--download {
  ouline: 0;
  transition: box-shadow .2s ease;
  animation: b .2s ease-in both;
}

.footerhome {
  background-color: #ffffff;
  color: #cfcfcf;
  height: 200px;
  line-height: 200px;
}



