// Components for logo and menu
.blockNavigation {

  .navbar-default {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .2));
  }
  .navbar-brand {
    height: 80px;
  }

  .nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    color: $brand-primary;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: $brand-primary;
    background-color: transparent;
  }

  .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
  }

  img {
    height: 50px;
  }

  .navbar-static-top {
    margin-bottom: 0px;
  }
  // Style for --full modifier
  &--full {
    background-color: #6772E5;
    border-bottom: none;
    padding-top: 25px;
  }

  &--full .nav > li > a {
    color: #ffffff;
  }
  &--full .nav > li > a:hover, &--full .nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }

  .blockInlineSearch {

    &__valign {
      margin-top: 16px;
    }

    &__btn-search, &__btn-search:focus, &__btn-search:active {
      background-color: $brand-success !important;
      text-transform: uppercase;
      color: #ffffff !important;
      outline: none !important;
      border-left: none;
    }

    &__btn-search:hover {
      background-color: #59d69e !important;
      color: #ffffff !important;
    }

    input[type="text"], textarea, input[type="text"]:focus, textarea:focus {
      outline: none;
      box-shadow: none !important;
    }
  }

}

