h2.blockResultHeading {

  font-family: "Proxima Nova Semibold";
  color: #555459;
  margin-top: 70px;

  small {
    background-color: #7774E7;
    color: #ffffff;
    padding: 4px 10px;
    vertical-align: middle;
    font-size: 23px;
    text-transform: uppercase;
  }
}

.blockOverview {
  margin-top: 10px;

  h5.media-heading {
    text-transform: uppercase;
  }

  .media-body {
    vertical-align: middle;
  }

  span.application {
    font-family: "Proxima Nova Semibold";
    font-size: 15px;
  }

  &__iconSize {
    width: 50px;
    height: 50px;
  }
}

.blockSummary {
  &__p {
    font-size: 16px;
    color: #333333;
    opacity: 0.6;
  }
}

.blockPlugins {
  margin-top: 15px;
  &__plugin {
    border: 1px solid #ECECEC;
    padding: 20px;
    margin-bottom: 30px;
    height: 166px;
    max-height: 166px;
    transition: all ease-in 0.15s;
  }

  &__plugin:hover {
    border: 1px solid #6772e5;
    padding: 20px;
    margin-bottom: 30px;
    height: 166px;
    max-height: 166px;

  }

  &__muted {
    color: #333333;
    opacity: 0.6;
  }

  &__plugin h4 {
    font-family: "Proxima Nova";
    color: #333333;
  }

  &__pluginBadge {
    font-family: "Proxima Nova";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    line-height: 23px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
  }

  &__pluginBadge.grey {
    background-color: #46B9D8;
  }
  &__pluginBadge.orange {
    background-color: #F67700;
  }
  &__pluginBadge.blue {
    background-color: #2F84ED;
  }
  &__pluginBadge.dark-grey {
    background-color: #424242;
  }
  &__pluginBadge.green {
    background-color: #0ACF78;
  }

}

.blockTechnologies {
  margin-top: 15px;

  &__technology {
    margin-bottom: 30px;
    height: 65px;
    max-height: 65px;
  }
  &__technology-information h5 a:first-of-type, &__technology-information a:hover {
    color: #6772e5;
    text-decoration: none;
  }
  &__outericon {
    width: 65px;
    height: 65px;
    background-color: #fbfbfb;
    border-radius: 65px;
    display: table;
  }
  &__outericon a {
    display: table-cell;
    vertical-align: middle;
  }

  &__innericon {
    width: 33px;
    height: 33px;
    margin: 0 auto;

  }

}